:root {
  /* Font sizes */
  --font-size-calendar-title: 3em;
  --font-size-social-media: 1.7em;
  --font-size-week-days: 1.5em;
  --font-size-week-columns: 1.7em;
  --font-size-calendar-days: 1.5em;
  --font-size-new-games-badge: 0.8em;
  --font-size-new-games-title: 0.7em;
  --font-size-fpd: 0.7em;


  /* Border radius */
  --border-radius-calendar: 15px;
  --border-radius-day-active: 1em;
  --border-radius-new-games-badge: 50%;
  --border-radius-cover: 10px;

  /* Margin */
  --margin-footer-elements: 1em;
  --margin-platforms-i: 0 0.3em;
  --margin-cover: 0.5em 0;

  /* Padding */
  --padding-calendar-title: 0.2em;
  --padding-calendar-days: 10px;
  --padding-week-days: 10px;

  /* Sizes */
  --width-calendar-days: 14.28%;
  --height-calendar-days: 12vh;
  --width-new-games-badge: 40px;
  --cover-width: 8em;
  --font-size-footer: 1em;

  /* Colors */
  --color-background: #dfebed;
  --color-calendar-background: #1d1d1d;
  --color-active-day: #005499;
  --color-new-games-badge: #c1d80f;
}

/* Global Styles */
* {
  font-family: 'Generic Mobile System Nuevo', sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

body {
  background-color: var(--color-calendar-background)!important;
}

/* Calendar Styles */
.calendar {
  background-color: var(--color-calendar-background);
  padding: 5px;
}

.calendar-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-calendar-title);
  font-size: var(--font-size-calendar-title);
  text-align: center;
  text-transform: uppercase;
}

.calendar-title span {
  padding: var(--padding-calendar-title) !important;
}

/* Social Media */
.social-media {
  font-size: var(--font-size-social-media);
  padding: var(--padding-calendar-title) 0;
  text-align: center;
  margin-left: 1em;
}

.social-media a:hover i {
  color: #ffffffcb;
}

/* Calendar Week & Days */
.week-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.week-columns {
  font-size: var(--font-size-week-columns);
  width: var(--width-calendar-days);
  text-align: center;
  padding: var(--padding-week-days);
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.day, .day-active {
  font-size: var(--font-size-week-days);
  display: inline-block;
  width: var(--width-calendar-days);
  height: var(--height-calendar-days);
  text-align: center;
  padding: var(--padding-calendar-days);
  position: relative;
}

.day:hover {
  background-color: #3a3a3a;
  border-radius: var(--border-radius-day-active);
}

.day-active {
  background: var(--color-active-day);
  border-radius: var(--border-radius-day-active);
}

/* Badge */
.new-games-badge {
  margin-left: 0.5em;
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  border-radius: var(--border-radius-new-games-badge);
  background-color: var(--color-new-games-badge);
  font-size: var(--font-size-new-games-badge);
}

.new-games-title {
  font-size: var(--font-size-new-games-title);
  text-align: center;
}

.fpd{
  background-color: var(--color-active-day);
  border-radius: var(--border-radius-day-active);
  padding: 0.3em;
}

.new-games-badge-footer {
  margin: 0.2em 1em;
  width: 1em;
  height: 1em;
  border-radius: var(--border-radius-new-games-badge);
  background-color: var(--color-new-games-badge);
}

/* Modal Styles */
.btn-close {
  display: none;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 1.75rem auto;
}

.modal-content {
  background-color: var(--color-calendar-background) !important;
  border-radius: var(--border-radius-calendar)!important;
  text-align: center!important;
  align-items: center!important;
  justify-content: center!important;
}

.modal-header, .modal-body, .modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  border-top: none;
  padding: 1rem;
}

.games-entry {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.platforms {
  margin: var(--margin-platforms-i);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.game-entry {
  text-align: center;
  padding: 1em;
  width: 100%;
  max-width: 150px;
}

.game-name{
  font-size: 1.3em;
}

.cover {
  border-radius: var(--border-radius-cover);
  width: var(--cover-width);
  height: auto;
  margin: var(--margin-cover) auto;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-footer);
}

.footer i {
  margin-right: var(--margin-footer-elements);
}

/* Responsive Styles */
@media (max-width: 1600px) {
  :root {
    --font-size-calendar-title: 1.5em;
    --font-size-social-media: 1em;
    --font-size-footer: 0.65em;
    --font-size-week-days: 0.9em;
    --font-size-week-columns: 1em;
    --font-size-new-games-title: 0.8em;
    --padding-calendar-days: 2px;
    --padding-week-days: 2px;
    --cover-width: 6em;
    --height-calendar-days: 10vh;
  }

  .games-entry {
    grid-template-columns: repeat(5, 1fr); /* Se mantiene en 6 columnas para pantallas grandes */
    gap: 0.5em;
  }

  .social-media i {
    padding: 1em 1em;
  }

  .calendar {
    height: 100vh;
    width: 100vw;
  }

  .calendar-title {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.2em;
    font-size: var(--font-size-calendar-title);
  }

  .modal-title {
    font-size: 1.4em;
  }

  .game-name {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }
}

@media (max-width: 1200px) {
  .games-entry {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3em;
  }
}

@media (max-width: 990px) {
  :root {
    --font-size-calendar-title: 1.2em;
    --font-size-social-media: 1em;
    --font-size-footer: 0.65em;
    --font-size-week-days: 0.9em;
    --font-size-week-columns: 1em;
    --font-size-new-games-title: 0.8em;
    --padding-calendar-days: 2px;
    --padding-week-days: 2px;
    --margin-platforms-i: 0.2em;

    --cover-width: 6em;
    --height-calendar-days: 12vh;
  }

  .games-entry {
    grid-template-columns: repeat(3, 1fr); /* Se ajusta a 4 columnas en pantallas medianas */
    gap: 0.2em;
  }

  .social-media i {
    padding: 1em 1em;
  }

  .calendar {
    height: 100vh;
    width: 100vw;
  }

  .calendar-title {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.2em;
    font-size: var(--font-size-calendar-title);
  }

  .modal-title {
    font-size: 1.4em;
  }

  .game-name {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-calendar-title: 1.2em;
    --font-size-social-media: 1em;
    --font-size-footer: 0.65em;
    --font-size-week-days: 0.9em;
    --font-size-week-columns: 1em;
    --font-size-new-games-title: 0.8em;
    --padding-calendar-days: 2px;
    --padding-week-days: 2px;
    --margin-platforms-i: 0.2em;
    --cover-width: 4.3em;
    --height-calendar-days: 10vh;
  }

  .games-entry {
    grid-template-columns: repeat(2, 1fr); /* Para pantallas móviles, ajusta a 2 columnas */
    gap: 0.1em;
  }

  .social-media i {
    padding: 1em 1em;
  }

  .calendar {
    height: 100vh;
    width: 100vw;
  }

  .calendar-title {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.2em;
    font-size: var(--font-size-calendar-title);
  }

  .fpd{
    font-size: 0.5em;
  }
  

  div#gameModal.modal.fade.show {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .modal-title {
    font-size: 1.4em;
  }

  .game-name {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }
}
